body{
    background-image: url(screen.png);
}


#whiteblank{
    background-color: white;
    width: 0px;
    padding: 100px;
    margin-top: 200px;
    margin-left: 540px;
    padding-right: 500px;
    padding-top: 325px;
    border-radius: 15px;



    

    
}

#vse{
    padding: 50px;
    width: 100px;
}

#disc{
    padding: 50px;
    width: 100px;
}

#discord{
    background-color: #5989DA;
    width: 150px;
    height: 100px;
    padding-top: 0px;
    position: absolute;
    top: 300px;
    left: 950px;
    background: linear-gradient(blue, #5B79DE);
    padding: 25px;

}

#hitbox{
    padding: 50px;
    width: 100px;
}

#donate{
    width: 400px;
    height: 150px;
    padding-top: 0px;
    position: absolute;
    top: 500px;
    left: 700px;
    background: linear-gradient(#536872, #6E7F80);
}

#discord:hover{
    background: linear-gradient(lightblue, blue);
}

#opros{
    width: 300px;
    height: 150px;
    padding-top: 0px;
    position: absolute;
    top: 300px;
    left: 630px;
    background: linear-gradient(165deg,#EA4335, #FBBC05);
}

#opros:hover{
    background-image:  url(opros2.png);
}

#hitbox3{
    padding: 50px;
    width: 100px;
}

#ip{
    background-color: #ffffff;
    width: 280px;
    padding-top: 0px;
    position: absolute;
    top: 230px;
    left: 900px;
    font-size: 30px;
}

#button{
    position: absolute;
    top: 230px;
    left: 900px;
}

#butt{
    position: absolute;
    top: 230px;
    left: 1160px;

}



#donate:hover{
    background: linear-gradient(#6E7F80, #536872);
}

#opros:hover{
    background: linear-gradient(65deg, #FBBC05, #EA4335);
}